$nav-color: #2c3e50;
$w-color: white;

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
    padding: 0;
    margin: 0;
    font-family:Helvetica, sans-serif;
      .wrap{
        @include flex();
        padding: 10%;
        flex-direction: column;
        background-image: linear-gradient(red, yellow);
        #get-joke{
          color: yellow;
          background-color: rgb(151, 36, 36);
        }
        h1{
          padding: 3%;
          border-radius:5%;
          color: $w-color;
          background-color: $nav-color;
          box-shadow: 10px 10px rgb(1, 4, 5);
        }
        p{
          padding: 3%;
          text-align: center;
          font-size: medium;
          color: $nav-color;
          background-color: $w-color;
          border: 2px solid $nav-color;
          border-radius: 5%;
        }
      }
}